<div class="main bd-content" id="content" role="main">

<section class="products">
            <div class="container">	
            <div class="card-wrapper">
                    <% @posts.each do |post| %>
                        <h5 class="card-title"><%= post.title %></h5>
                        <%if post.tags%>
                        <% post.tags.each do |tag|%>
                            <p> <%=tag.tag_name%> </p>
                        <%end%>
                    <%end%>
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src=<%= post.featured_img %> alt="Card image cap">
                            <div class="card-body">
                            <p class="card-text"><%= post.content %></p>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </section>
</div> <!--  	main	 -->