<div class="main bd-content" id="content" role="main">
    <div class="container">
        <form class="form-inline my-2 my-lg-0" method="POST" action="/login">
        <input class="form-control mr-sm-2" type="email" name="email" placeholder="email">
        <input class="form-control mr-sm-2" type="password" name="password" placeholder="password">
        <button class="btn my-2 my-sm-0" type="submit">Login</button>
        </form>
    </div>
</div>