<div class="home main bd-content" id="content" role="main">

    <section class="recent">
        <div class="container">	
            <div class="row">
                <div class="col-md-8">
                    <p class="title">Oops, what you're looking for does not exist.</ph2>
                        
                </div>   <!-- col-md-8 -->

                <div class="col-md-4">
                  <div class="site-sidebar">
                    <section class="widget widget_search">
                      <form class="search-form" action="/search", method="get">
                        <div class="form-group">
                          <label for="search" class="sr-only">Search</label>
                          <input type="search" name="query" class="form-control search-field" placeholder="Search...">
                        </div><!-- .form-group -->
                        <button type="submit" class="btn btn-default search-submit"><i class="fa fa-search"></i></button>
                      </form><!-- .search-form -->
                    </section><!-- .widget_search -->

                    <section class="widget widget_about">
                      <h3 class="widget-title text-center"><span>About</span></h3>
                      <div class="tagcloud">
                      <p class="text-white text-center">It's About Nothing is a blog concept that allows multiple users to post anything really...about nothing. 
                      </p>
                            
                      </div>
                    </section>
                  </div><!-- .site-sidebar -->
                </div>
         </div>
    </section>
</div> <!--  	main	 -->