$cart: url(../images/cart.png) no-repeat;
$mainone: url(../images/main_bk.jpg);
$maintwo: url(../images/maintwobk.jpg);
$mainthree: url(../images/mainthreebk.jpg);
$mainfour: url(../images/mainfourbk.jpg);
$mainfive: url(../images/mainfivebk.jpg);
$sectionabout: url(../images/about_bk.jpg);
$about: url(../images/contact-banner.jpg);
$cakes: url(../images/cakes-banner.jpg);
$cookies: url(../images/cookies-banner.jpg);
$muffins: url(../images/muffins-banner.jpg);
$pastries: url(../images/pastries-banner.jpg);



