.main-panel {
    position: relative;
    width: calc(100% - 260px);
    -webkit-transition: 0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: 0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1);
    .content {
        margin-top: 20px;
        padding: 30px 15px;
        min-height: calc(100vh - 123px);
    }
    
        
}
